/* styles.css */
body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #EBEBEB;
  padding: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  font-size: medium;
  color: #000000;
  font-weight: bold;
}
